* {
    margin: 0;
    padding: 0;
}

.video-back {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

@media (min-aspect-ratio:16/9) {
    .video-back {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .video-back {
        width: auto;
        height: 100%;
    }
}

header {
    background: rgba(0, 0, 0, .5);
    height: 100vh;
}

.profileP {
    height: 0px;
    width: 0px;
    position: relative;
    left: 320px;
    top: 120px;
}

.profilePB {
    background-color: #FFFFFF;
    height: 550px;
    width: 400px;
    position: relative;
    left: 720px;
    top: 120px;
    opacity: 0.80;
}

.text1 {
    position: absolute;
    left: 740px;
    top: 150px;


}

.name {
    color: rgba(225, 225, 225, .1);
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    background-image: url(color.jpg);
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    animation: animate 50s Linear infinite;


}

@keyframes animate {
    0% {
        background-position: left 0px top 10px;
    }
    40% {
        background-position: left 800px top 10px;
    }
}

.text2 {
    position: absolute;
    left: 760px;
    top: 200px;
}

p {
    color: #3c3c3c;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
}

.textD {

    list-style: none;
    margin: 30px;
}

.textD li {
    display: block;
    padding: 10px 10px 35px;
    text-align: center;
}

.button {
    position: absolute;
    top: 300px;
    left: 770px;


}

.btn {
    border: 4px solid black;
    padding: 10px 30px;
    color: black;
    text-decoration: none;
    margin-right: 5px;
    font-size: 20px;
    text-transform: uppercase;


}


.btn-one:hover {

    font-family: "Roboto", sans-serif;
    color: blue;
    transition: all 0.2s ease-in;
    border-color: green;


}

.btn-two:hover {

    font-family: "Roboto", sans-serif;
    color: blue;
    transition: all 0.2s ease-in;
    border-color: green;
}

.btn-three:hover {

    font-family: "Roboto", sans-serif;
    color: blue;
    transition: all 0.2s ease-in;
    border-color: green;
}
