* {
    margin: 0;
    padding: 0;
}

.video-back {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

@media (min-aspect-ratio:16/9) {
    .video-back {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .video-back {
        width: auto;
        height: 100%;
    }
}

header{
    background: rgba(0,0,0,.5);
    height: 100vh;
}

.btn-one {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:#fff;
    background: #262626;
    font-size:30px;
    padding:10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: 4px;
    border:2px solid #262626;
    overflow:hidden;
    left: 930px;
}
.btn-one:before{
    content: '';
    position:absolute;
    top:0;
    left:5%;
    width:90%;
    height:100%;
    background: #0f0;
    z-index: -1;
    transform: skewX(25deg)scaleX(1);
    transition: .3s;
}
,btn-one:hover:before{
    transform: skewX(25deg)scaleX(0);
}
.btn-one:after{
    content: '';
    position:absolute;
    top:0;
    left:5%;
    width:90%;
    height:100%;
    background: #0026ff;
    z-index: -1;
    transform: skewX(25deg)scaleX(0);
    transition: .3s;
    transition-delay: .3s;
}
.btn-one:hover:after{
    transform: skewX(25deg)scaleX(01);
}


.btn-two {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:#fff;
    background: #262626;
    font-size:30px;
    padding:10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: 4px;
    border:2px solid #262626;
    overflow:hidden;
    left: 550px;
}
.btn-two:before{
    content: '';
    position:absolute;
    top:0;
    left:5%;
    width:90%;
    height:100%;
    background: #0f0;
    z-index: -1;
    transform: skewX(25deg)scaleX(1);
    transition: .3s;
}
,btn-two:hover:before{
    transform: skewX(25deg)scaleX(0);
}
.btn-two:after{
    content: '';
    position:absolute;
    top:0;
    left:5%;
    width:90%;
    height:100%;
    background: blue;
    z-index: -1;
    transform: skewX(25deg)scaleX(0);
    transition: .3s;
    transition-delay: .3s;
}
.btn-two:hover:after{
    transform: skewX(25deg)scaleX(01);
}


